.country__hero {
    background-color: #182342;
    height: 600px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    background-image: url(https://ibb.co/YTCCy3g);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.country__hero__agriculture {
    background-color: #182342;
    height: 400px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    background-image: url(https://images.unsplash.com/photo-1499529112087-3cb3b73cec95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}






.country-title {
    position: absolute;
    width: 1105.21px;
    height: 119px;
    left: 116px;
    top: 258px;
    font-family: 'LibreBaskerville-Regular', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: -0.055em;
    color: #182342;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

@media screen and (max-width: 599px) {
    .country-title {
        width: 240px;
        left: 48px;
        top: 245px;
        font-size: 28px;
    }
}

.country-title--small {
    position: absolute;
    width: 1105.21px;
    height: 119px;
    left: 116px;
    top: 258px;
    font-family: 'LibreBaskerville-Regular', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: -0.055em;
    color: #182342;
    z-index: 1;
}

@media screen and (max-width: 599px) {
    .country-title--small {
        width: 240px;
        left: 48px;
        top: 245px;
        font-size: 50px;
    }
}

.category {
    position: absolute;
    height: 27px;
    left: 125px;
    top: 145px;
    font-family: 'GothicA1-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.63em;
    color: #000;
    z-index: 1;
}

@media screen and (max-width: 599px) {
    .category {
        width: 70%;
        left: 52px;
        top: 140px;
        font-size: 14px;
        display: flex;
        letter-spacing: 0.2em;
    }
}

.journey__button {
    font-family: 'GothicA1-Regular', sans-serif;
    font-weight: 600;
    border: 1px solid #162f72;
    background: #182342;
    color: white;
    font-size: 18px;
    height: 56px;
    border-radius: 2px;
    padding: 16px 64px 16px 64px;
    align-items: center;
    position:absolute;
    margin-left: 120px;
    margin-top: 40%;
    z-index: 1;
}

@media screen and (max-width: 599px) {
    .journey__button {
        
    font-weight: 400;
    background: #182342;
    color: white;
    font-size: 16px;
    height: 56px;
    margin-left: 56px;
    margin-top: 120%;
    z-index: 1;
    }
}

.journey__button:hover {
    cursor: pointer;
    transition: all ease-in 100ms;
    border: 1px solid #162f72;
    background: #162f72;
}

.scrolling__nav {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 399px;
    margin-left: auto;
    background: #182342;
    width: 339px;
    height: 40%;
    padding-top: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 599px) {
    .scrolling__nav {
        margin-left: 8%;
        margin-top: 650px;
        height: 32%;
    }
}

.scrolling__nav--small {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 399px;
    margin-left: auto;
    background: #182342;
    width: 339px;
    height: 34%;
    padding-top: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 599px) {
    .scrolling__nav--small {
        margin-left: 10%;
        margin-top: 700px;
        height: 25%;
    }
}

.scrolling__link {
    font-family: 'GothicA1-Regular', sans-serif;
    padding: 20px 10px 20px 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.scrolling__link:hover {
    background-color:#162f72;
    font-weight: bolder;
}